* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.fas {
  padding: 0 10px;
}

.header {
  font-size: 24px;
  text-align: center;
}

.main {
  padding: 0 20px;
  text-align: center;
}

.lecture {
  margin: 0 auto;
  max-width: 70%;
  text-align: center;
}

.lecture__item {
  background-color: lavenderblush;
}

.lecture__item:nth-child(odd) {
  background-color: lightblue;
}
.lecture__data, .lecture__duration {
  color: grey;
}

.lecture__title {
  font-size: 18px;
  color: plum;
}

.lecture__title:hover {
  color: blueviolet;
  cursor: pointer;
}

.lecture__additional-info {
  display: none;
  justify-content: space-between;
  padding: 15px;
}

.author {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  color: navy;
  background-color: aqua;
  font-size: 24px;
  border: 0;
  outline: 0;
}
.author:hover {
  background-color: darkcyan;
}
.author:active {
  position: relative;
  transform: translate(1%, 1%);
}
